.cards {
  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-weight: 400;
}

.card {
  background-color: orange;
  margin: 15px;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}